
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">

    <!--page specific css styles-->
    <!--flaty css styles-->
    <link rel="stylesheet" href="~/Content/flaty.css">
    <link rel="stylesheet" href="~/Content/flaty-responsive.css">

    <link rel="shortcut icon" href="~/img/favicon.html">
    <link href="~/assets/noti/css/alertify.rtl.min.css" rel="stylesheet" />
    <link href="~/assets/noti/css/themes/semantic.rtl.min.css" rel="stylesheet" />
    <script src="~/assets/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/function.js"></script>
    @{
        if (this.Session["Username"] == null)
        {
            <script>isLogin();</script>
        }
    }
    <script>
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $(this).html("<img src='/img/loading.gif'>");
            });
        });
    </script>
</head>
<body>
    <script> var ViewBag = @Html.Raw(Json.Encode(ViewBag));</script>

    @RenderBody()
    <!-- END Container -->
    <!--basic scripts-->

    <script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/jquery-cookie/jquery.cookie.js"></script>

    <!--page specific plugin scripts-->
    <script src="~/assets/flot/jquery.flot.js"></script>
    <script src="~/assets/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/flot/jquery.flot.stack.js"></script>
    <script src="~/assets/flot/jquery.flot.crosshair.js"></script>
    <script src="~/assets/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/assets/sparkline/jquery.sparkline.min.js"></script>

    <!--flaty scripts-->
    <script src="~/Scripts/flaty.js"></script>
    <script src="~/Scripts/flaty-demo-codes.js"></script>
    <script src="~/Scripts/sweetalert.all.js"></script>
    <script src="~/Scripts/function.js"></script>
    <script src="~/assets/noti/alertify.min.js"></script>
    <script src="~/assets/noti/notify.min.js"></script>
    
</body>
</html>
